.pianoKeyboard {
  .whiteKey {
    &.dim {
      background: #dee9f9;
    }
    &.playing,
    &.hover {
      background: #3576cb;
      color: #fff;
    }
    &.disabled {
      background: #ccc
        repeating-linear-gradient(
          30deg,
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.3) 10px,
          transparent 0,
          transparent 20px
        );
    }
  }
  .blackKey {
    &.dim {
      background: #aabbd0;
    }
    &.playing,
    &.hover {
      background: #174889;
    }
    &.disabled {
      background: #666
        repeating-linear-gradient(
          30deg,
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.3) 8px,
          transparent 0,
          transparent 16px
        );
    }
  }
}
