.pianoKeyboard {
  .whiteKey {
    &.disabled {
      background: #ccc;
    }
    &.pressed {
      background: #6aafff;
      color: #fff;
    }
  }
  .blackKey {
    &.disabled {
      background: #666;
    }
    &.pressed {
      background: #095ab7;
      color: #fff;
    }
  }
}
